@use '../../../variables.scss' as *;
@use './common-tab-styles.module.scss' as common;

.catalogContainer {
  @extend common !optional;
  @extend .sharedTabContainer;
}

.loadingState {
  @include flex-center;
  height: 200px;
  color: $text-muted;
  font-size: 1.25rem;
  background-color: $background-light;
  border-radius: $border-radius-small;
}
