@use '../../../variables.scss' as *;
@use './common-tab-styles.module.scss' as common;

.favoritesContainer {
  @extend common !optional;
  @extend .sharedTabContainer;
}

.favoritesHeader {
  font-size: 1.5rem;
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 1rem;
  text-align: center;
}