@use '../../../variables.scss' as *;
@use './common-auth-styles.module.scss' as common;

.registerContainer {
  @extend common !optional;
  @extend .authContainer;
}

.registerForm {
  @extend common !optional;
  @extend .authForm;
}

.formTitle {
  @extend common !optional;
  @extend .formTitle;
}

.formGroup {
  @extend common !optional;
  @extend .formGroup;
}

.label {
  @extend common !optional;
  @extend .label;
}

.input {
  @extend common !optional;
  @extend .input;
}

.inputError {
  @extend common !optional;
  @extend .inputError;
}

.errorMessage {
  @extend common !optional;
  @extend .errorMessage;
}

.submitButton {
  @extend common !optional;
  @extend .submitButton;
}

/* Specific styles for RegisterComponent */
.passwordStrength {
  margin-bottom: 1rem;
  text-align: right;

  .strongPassword {
    color: green;
    margin-left: 0.5rem;
  }

  .weakPassword {
    color: red;
    margin-left: 0.5rem;
  }
}

.switchAuthMode {
  @extend common !optional;
  @extend .switchAuthMode;

  .switchButton {
    @extend common !optional;
    @extend .switchButton;
  }
}
