@use '../../../variables.scss' as *;
@use './common-auth-styles.module.scss' as common;

.registerContainer {
  @extend common, .authContainer !optional;
}

.registerForm {
  @extend common, .authForm !optional;
}

.formTitle {
  @extend common, .formTitle !optional;
}

.formGroup {
  @extend common, .formGroup !optional;
}

.label {
  @extend common, .label !optional;
}

.input {
  @extend common, .input !optional;
}

.inputError {
  @extend common, .inputError !optional;
}

.errorMessage {
  @extend common, .errorMessage !optional;
}

.submitButton {
  @extend common, .submitButton !optional;
}

/* Specific styles for RegisterComponent */
.passwordStrength {
  margin-bottom: 1rem;
  text-align: right;

  .strongPassword {
    color: green;
    margin-left: 0.5rem;
  }

  .weakPassword {
    color: red;
    margin-left: 0.5rem;
  }
}

.switchAuthMode {
  @extend common, .switchAuthMode !optional;

  .switchButton {
    @extend common, .switchButton !optional;
  }
}
